@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  transition: all 0.6s ease;
}

body {
  min-width: 375px;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: hsl(0deg, 0%, 98%);
}

header {
  padding: 1.3rem 0.9rem 0 0.95rem;
}
header .hbMenu img {
  cursor: pointer;
}
header .mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bkgImg img {
  max-width: 100%;
}

.bkgDesktop {
  display: none;
}

.navMenu {
  background-color: hsla(0deg, 0%, 0%, 0.69);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: none;
  flex-direction: row-reverse;
  animation: showMenu 0.5s ease;
}
.navMenu.show {
  display: flex;
  z-index: 1;
}
.navMenu .subMenu {
  background-color: hsl(0deg, 0%, 98%);
  height: 100%;
  width: 13.3rem;
}
.navMenu .subMenu .iconClose {
  margin-left: 11.55rem;
  margin-top: 1.1rem;
  transform: translateX(-50%);
  cursor: pointer;
}
.navMenu .subMenu .listMenu {
  list-style: none;
  padding: 1.79rem 1rem 0.1rem 1.35rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.navMenu .subMenu .listMenu a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
  font-size: 0.89rem;
}
.navMenu .subMenu .listMenu .features .subListFeatures {
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateY(-8%);
  pointer-events: none;
  max-height: 0px;
  padding: 0 1rem 0.1rem 1.35rem;
}
.navMenu .subMenu .listMenu .features .subListFeatures.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  max-height: 200px;
}
.navMenu .subMenu .listMenu .features .subListFeatures .itemListFeatures {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.92rem;
  color: hsl(0deg, 0%, 41%);
  padding-top: 1.5rem;
}
.navMenu .subMenu .listMenu .features .subListFeatures .iconsFeatures {
  width: 1rem;
}
.navMenu .subMenu .listMenu .itemListMenu {
  cursor: pointer;
}
.navMenu .subMenu .listMenu .itemListMenu .iconArrow {
  margin-left: 0.7rem;
}
.navMenu .subMenu .listMenu .itemListMenu .iconArrowFeatures.show {
  transform: rotate(180deg);
}
.navMenu .subMenu .listMenu .itemListMenu .iconArrowCompany.show {
  transform: rotate(180deg);
}
.navMenu .subMenu .listMenu .subListCompany {
  padding: 0 1rem 0.1rem 1.35rem;
  opacity: 0;
  transition: all 0.7s ease;
  transform: translateY(-8%);
  pointer-events: none;
  max-height: 0px;
}
.navMenu .subMenu .listMenu .subListCompany.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  max-height: 200px;
}
.navMenu .subMenu .listMenu .subListCompany .itemListCompany {
  font-size: 0.92rem;
  color: hsl(0deg, 0%, 41%);
  list-style: none;
  padding-top: 1.5rem;
}
.navMenu .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
}
.navMenu .btns .buttonDefalt {
  text-decoration: none;
  text-align: center;
  color: hsl(0deg, 0%, 41%);
  font-size: 0.78rem;
  padding: 0.61rem 0;
  width: 10.8rem;
  border-radius: 15px;
  cursor: pointer;
}
.navMenu .btns .buttonRegister {
  border: 2px solid hsl(0deg, 0%, 41%);
  margin-top: 0.4rem;
}

@keyframes showMenu {
  from {
    opacity: 0;
    transform: translate(100%);
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
main {
  text-align: center;
  margin-top: 1.4rem;
}
main .infos {
  margin-top: 2.3rem;
}
main .infos .mainTitle h1 {
  font-size: 1.96rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 8%);
}
main .infos .mainText {
  margin-top: 1.1rem;
  padding: 0 1.05rem 2.2rem 1.05rem;
}
main .infos .mainText p {
  color: hsl(0deg, 0%, 41%);
  font-size: 0.9rem;
  line-height: 1.45rem;
}
main .infos .mainBtn .buttonLearn {
  background-color: hsl(0deg, 0%, 8%);
  text-decoration: none;
  color: hsl(0deg, 0%, 98%);
  border-radius: 15px;
  font-size: 0.89rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
  cursor: pointer;
}
main .clients {
  margin-top: 3.3rem;
}
main .clients .clientsLogos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
}
main .clients .clientsLogos .logoDatabiz {
  width: 4.7rem;
}
main .clients .clientsLogos .logoAudiophile {
  width: 3rem;
}
main .clients .clientsLogos .logoMeet {
  width: 3.7rem;
}
main .clients .clientsLogos .logoMaker {
  width: 3.2rem;
}

footer {
  margin-top: 1rem;
  background-color: rgb(20, 20, 20);
}
footer .attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
}
footer .attribution .textByChallenge {
  font-size: 0.8rem;
  color: hsl(0deg, 0%, 41%);
}
footer .attribution .textByChallenge a {
  text-decoration: none;
  color: rgb(75, 177, 218);
  font-size: 0.8rem;
}
footer .attribution .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(0deg, 0%, 41%);
  margin-top: 0.5rem;
  gap: 0.8rem;
}
footer .attribution .footer .author {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 27px;
  border-radius: 20px;
  position: relative;
  font-size: 1em;
  overflow: hidden;
}
footer .attribution .footer .author::before {
  content: "";
  width: 150px;
  height: 120%;
  background: linear-gradient(rgb(114, 108, 238), rgb(142, 76, 182), rgb(227, 205, 49));
  position: absolute;
  animation: anima 5s linear infinite;
}
footer .attribution .footer .author::after {
  content: "Rodrigo Pires";
  background-color: rgb(0, 0, 0);
  position: absolute;
  inset: 2px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family: "Nothing You Could Do", cursive;
}
footer .attribution .footer span {
  font-size: 0.8rem;
}
footer .attribution ul {
  display: flex;
  margin-top: 0.8rem;
}
footer .attribution ul li {
  list-style: none;
  margin: 0 20px;
}
footer .attribution ul li i {
  color: hsl(0deg, 0%, 41%);
  font-size: 1.4rem;
}

@keyframes anima {
  0% {
    filter: hue-rotate(0deg) blur(15px) brightness(100%);
  }
  100% {
    filter: hue-rotate(360deg) blur(15px) brightness(100%);
  }
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  .bkgImg img {
    max-width: 85%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .bkgImg img {
    max-width: 85%;
  }
}
@media screen and (min-width: 1201px) {
  .container {
    padding-top: 0.1rem;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .container header {
    padding: 0.8rem 0.9rem 0 0.95rem;
    width: 92.6%;
  }
  .container .mainHeader {
    padding-left: 1.4rem;
  }
  .container .mainHeader .logo {
    margin-top: 0.8rem;
  }
  .container .mainHeader .hbMenu {
    display: none;
  }
  .container .navMenu {
    display: block;
    position: unset;
    height: unset;
    animation: unset;
    min-width: 100%;
    padding-left: 3.4rem;
    background-color: hsl(0deg, 0%, 98%);
  }
  .container .navMenu .subMenu {
    min-width: 100%;
    height: unset;
    padding: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .navMenu .subMenu .iconClose {
    display: none;
  }
  .container .navMenu .subMenu .listMenu {
    flex-direction: row;
    padding: unset;
    gap: 2rem;
    margin: unset;
  }
  .container .navMenu .subMenu .listMenu .itemListMenu {
    position: relative;
  }
  .container .navMenu .subMenu .listMenu .itemListMenu a {
    font-size: 0.8rem;
  }
  .container .navMenu .subMenu .listMenu .itemListMenu a:hover {
    color: hsl(0deg, 0%, 8%);
    font-weight: 700;
    font-size: 0.78rem;
  }
  .container .navMenu .subMenu .listMenu .itemListMenu .iconArrow {
    margin-left: 0.2rem;
  }
  .container .navMenu .subMenu .listMenu .features {
    max-width: 6rem;
  }
  .container .navMenu .subMenu .listMenu .features .subListFeatures {
    background-color: white;
    box-shadow: 0px 7px 29px 0px rgba(20, 20, 20, 0.1);
    position: absolute;
    border-radius: 10px;
    padding: 0.8rem;
    top: 2rem;
    right: 0.3rem;
  }
  .container .navMenu .subMenu .listMenu .features .subListFeatures .itemListFeatures {
    padding: 0.45rem;
    font-size: 0.8rem;
  }
  .container .navMenu .subMenu .listMenu .features .subListFeatures .iconsFeatures {
    width: 0.8rem;
  }
  .container .navMenu .subMenu .listMenu .subListCompany {
    background-color: white;
    box-shadow: 0px 7px 29px 0px rgba(20, 20, 20, 0.1);
    position: absolute;
    border-radius: 10px;
    padding: 0.9rem;
    top: 2rem;
    left: -0.1rem;
  }
  .container .navMenu .subMenu .listMenu .subListCompany .itemListCompany {
    padding: 0.45rem;
    font-size: 0.8rem;
  }
  .container .navMenu .btns {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: unset;
    gap: unset;
  }
  .container .navMenu .btns .buttonDefalt {
    font-size: 0.78rem;
    padding: 0.76rem 0;
    width: 5.8rem;
  }
  .container .navMenu .btns .buttonDefalt:hover {
    color: hsl(0deg, 0%, 8%);
    font-weight: 700;
  }
  .container .navMenu .btns .buttonRegister {
    margin-top: unset;
  }
  .container .navMenu .btns .buttonRegister:hover {
    border: 2px solid hsl(0deg, 0%, 8%);
  }
  .bkgImg {
    display: none;
  }
  .bkgDesktop {
    display: flex;
    width: 29.5rem;
    overflow: hidden;
    object-fit: cover;
    margin-right: 6.2rem;
  }
  .bkgDesktop img {
    min-width: 100%;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.3rem 0.9rem 0 1.34rem;
  }
  main .infos {
    padding: unset;
    margin-top: 6rem;
    text-align: start;
    max-width: 65.4%;
    margin-left: 7.88rem;
  }
  main .infos .mainTitle {
    margin-bottom: 2.9rem;
  }
  main .infos .mainTitle h1 {
    font-size: 4.3rem;
  }
  main .infos .mainText {
    padding: unset;
    width: 24rem;
  }
  main .infos .mainText p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 4rem;
  }
  main .infos .mainBtn .buttonLearn {
    font-size: 0.95rem;
    padding: 1rem 1.8rem 1rem 1.8rem;
  }
  main .infos .mainBtn .buttonLearn:hover {
    color: hsl(0deg, 0%, 8%);
    font-weight: 700;
    background-color: hsl(0deg, 0%, 98%);
    border: 1px solid hsl(0deg, 0%, 8%);
  }
  main .clients {
    margin-top: 7rem;
    width: 28.8rem;
    margin-left: 7.85rem;
  }
  main .clients .clientsLogos {
    justify-content: unset;
    padding: unset;
    gap: 2.3rem;
  }
  main .clients .clientsLogos .logoDatabiz {
    width: 6.3rem;
  }
  main .clients .clientsLogos .logoAudiophile {
    width: 4rem;
  }
  main .clients .clientsLogos .logoMeet {
    width: 4.7rem;
  }
  main .clients .clientsLogos .logoMaker {
    width: 4.8rem;
  }
  footer {
    background-color: hsl(0deg, 0%, 98%);
  }
  footer .attribution .textByChallenge {
    color: hsl(0deg, 0%, 8%);
  }
  footer .attribution .textByChallenge a {
    color: rgb(223, 200, 43);
  }
  footer .attribution .footer {
    color: hsl(0deg, 0%, 8%);
  }
  footer .attribution .footer .author::before {
    width: 120px;
    height: 220%;
    background: linear-gradient(#ea00ff, #3700ff);
  }
  footer .attribution .footer .author::after {
    background-color: hsl(0deg, 0%, 98%);
    color: hsl(0deg, 0%, 8%);
    font-weight: 700;
  }
  footer .attribution .footer span {
    font-size: 0.8rem;
  }
  footer .attribution ul {
    display: flex;
    margin-top: 0.8rem;
    position: relative;
  }
  footer .attribution ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
  }
  footer .attribution ul li i {
    color: hsl(0deg, 0%, 8%);
    font-size: 1.4rem;
  }
  footer .attribution ul li::before {
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.41rem;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  footer .attribution ul li:nth-child(1)::before {
    content: "\f08c";
    color: #0a66c2;
    border-bottom: 3px solid #0a66c2;
  }
  footer .attribution ul li:hover::before {
    height: 100%;
  }
  footer .attribution ul li:nth-child(2)::before {
    content: "\f09b";
    color: #238636;
    border-bottom: 3px solid #238636;
  }
}/*# sourceMappingURL=style.css.map */